.Content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/

    /*border: solid 1px red;*/
}

.Content:not(:last-child) {
    /*margin-bottom: 30px;*/
}


#LogoSite {
    width: 100px;
}

#TitleSite {
    font-size: 70px;
    margin-left: 50px;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

#DescriptionSite {
    font-size: 25px;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

#Description {
    text-align: left;
    width: 50%;
    max-width: 450px;
    min-height: 500px;
    margin-left: 50px;

    /*border: solid 1px red;*/
}

.DescriptionElement {
    display: flex;
    flex-direction: column;
}

.DescriptionElement:not(:last-child) {
    margin-bottom: 30px;
}

.TitleDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.TitleDescription h1 {
    margin: 0;
    font-weight: normal;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

.DescriptionText {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.DescriptionText.active {
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.DescriptionElement p {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    width: 90%;
    color: #93959E;
}

.icon {
    font-size: 30px;
    transition: transform 0.5s ease;
}

.icon.rotated {
    transform: rotate(90deg);
}


#RegistrationBlock {
    width: 40%;
    height: 50vh;
    min-height: 500px;
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    flex-direction: column;
    /*border: solid 1px red;*/
}

.InteractionElement {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

.Button {
    position: relative;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%) 1;
    background-color: transparent;
}

.Button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 100%);
    opacity: 0;
    transition: opacity 0.3s;
}

.Button:hover::before {
    opacity: 1;
}

.Button button {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 20px);
    width: calc(100% - 20px);
    /*height: 90%;*/
    /*width: 90%;*/
    background-color: transparent;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%) 1;
    border-right: none;
    border-left: none;
    color: white;
    font-family: "Poiret One", sans-serif;
    transition: 0.3s;
}

.Button button p {
    font-weight: bold;
    color: #E0E0E4;
}

.Button button:hover {
    /*height: 95%;*/
    /*width: 95%;*/
    height: calc(100% + 15px);
    width: calc(100% - 10px);
}

#Authorization {
    position: relative;
    margin-right: 30px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: solid 1px red;*/
}

#Authorization form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Authorization h1 {
    text-align: center;
    margin: 0 0 40px;
    background: linear-gradient(to bottom, #ffffff, #444857); /* Вертикальный градиент */
    -webkit-background-clip: text;
    color: transparent;
}

#Authorization h2 {
    font-size: 20px;
    margin: 0;
    color: #E0E0E4;
}

#AuthTable {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    /*border-spacing: 20px;*/
    margin-bottom: 60px;
}

#AuthTable td {
    height: 30px;
    width: 50%;

    /*border: solid 1px red;*/
}

#AuthTable td:first-child {
    width: 40%;
}

#AuthTable td:last-child {
    width: 60%;
}

#AuthTable p {
    color: orange;
    font-size: 16px;
    margin: 0 0 10px;
    font-weight: bold;
}

#AuthTable input {
    font-family: "Poiret One", sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    padding-left: 5px;
    background-color: #E0E0E4;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); /* Внутренняя тень */
}

#AuthTable input:focus {
    outline: 1px solid #E0E0E4; /* Нестандартная обводка при фокусе */
}

.PasswordButton {
    width: 30px;
    height: 30px;
    position: absolute;
    right: -30px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: none;
    border: none;
    cursor: pointer;
}

#ButtonBack {
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    opacity: 20%;
    cursor: pointer;
    transition: 0.3s;

    /*border: solid 1px red;*/
}
#ButtonBack:hover {
    opacity: 50%;
}

@media (min-width: 851px) and (max-width: 1200px) {
    .Content {
        border: solid 1px red;
    }

    .Content {
    }
    .Content:not(:last-child) {
    }

    #LogoSite {
        width: 80px;
    }

    #TitleSite {
        font-size: 60px;
    }

    #DescriptionSite {
    }

    #Description {
        text-align: left;
        width: 35%;
        max-width: none;
        min-height: 500px;
        margin-left: 10px;

        border: solid 1px red;
    }

    .DescriptionElement {
        display: flex;
        flex-direction: column;
    }

    .DescriptionElement:not(:last-child) {
        margin-bottom: 30px;
    }

    .TitleDescription {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .TitleDescription h1 {
        margin: 0;
        font-weight: normal;
        background: linear-gradient(to bottom, #ffffff, #444857);
        -webkit-background-clip: text;
        color: transparent;
    }

    .DescriptionText {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
    }

    .DescriptionText.active {
        max-height: 200px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }

    .DescriptionElement p {
        font-size: 18px;
        font-weight: bolder;
        margin-top: 10px;
        width: 90%;
        color: #93959E;
    }

    .icon {
        font-size: 30px;
        transition: transform 0.5s ease;
    }

    .icon.rotated {
        transform: rotate(90deg);
    }


    #RegistrationBlock {
        width: 55%;
        height: 50vh;
        min-height: 500px;
        margin-left: 50px;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;

        border: solid 1px red;
    }

    .InteractionElement {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        transition: transform 0.5s ease-in-out;
    }

    .Button {
        position: relative;
        border-top: solid 2px;
        border-bottom: solid 2px;
        border-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%) 1;
        background-color: transparent;
    }

    .Button::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0.2) 100%);
        opacity: 0;
        transition: opacity 0.3s;
    }

    .Button:hover::before {
        opacity: 1;
    }

    .Button button {
        position: absolute;
        top: 0; bottom: 0;
        left: 0; right: 0;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% + 20px);
        width: calc(100% - 20px);
        /*height: 90%;*/
        /*width: 90%;*/
        background-color: transparent;
        border-top: solid 2px;
        border-bottom: solid 2px;
        border-image: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 100%) 1;
        border-right: none;
        border-left: none;
        color: white;
        font-family: "Poiret One", sans-serif;
        transition: 0.3s;
    }

    .Button button p {
        font-weight: bold;
        color: #E0E0E4;
    }

    .Button button:hover {
        /*height: 95%;*/
        /*width: 95%;*/
        height: calc(100% + 15px);
        width: calc(100% - 10px);
    }

    #Authorization {
        position: relative;
        margin-right: 30px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        /*border: solid 1px red;*/
    }

    #Authorization form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #Authorization h1 {
        text-align: center;
        margin: 0 0 40px;
        background: linear-gradient(to bottom, #ffffff, #444857); /* Вертикальный градиент */
        -webkit-background-clip: text;
        color: transparent;
    }

    #Authorization h2 {
        font-size: 20px;
        margin: 0;
        color: #E0E0E4;
    }

    #AuthTable {
        text-align: left;
        width: 100%;
        border-collapse: separate;
        /*border-spacing: 20px;*/
        margin-bottom: 60px;
    }

    #AuthTable td {
        height: 30px;
        width: 50%;

        /*border: solid 1px red;*/
    }

    #AuthTable td:first-child {
        width: 40%;
    }

    #AuthTable td:last-child {
        width: 60%;
    }

    #AuthTable p {
        color: orange;
        font-size: 16px;
        margin: 0 0 10px;
        font-weight: bold;
    }

    #AuthTable input {
        font-family: "Poiret One", sans-serif;
        font-weight: bold;
        font-size: 20px;
        width: 100%;
        height: 30px;
        box-sizing: border-box;
        border-radius: 0;
        border: none;
        padding-left: 5px;
        background-color: #E0E0E4;
        box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); /* Внутренняя тень */
    }

    #AuthTable input:focus {
        outline: 1px solid #E0E0E4; /* Нестандартная обводка при фокусе */
    }

    .PasswordButton {
        width: 30px;
        height: 30px;
        position: absolute;
        right: -30px;
        top: 0;
        bottom: 0;
        margin: auto;
        background: none;
        border: none;
        cursor: pointer;
    }

    #ButtonBack {
        height: 30px;
        width: 30px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 0;
        opacity: 20%;
        cursor: pointer;
        transition: 0.3s;

        /*border: solid 1px red;*/
    }
    #ButtonBack:hover {
        opacity: 50%;
    }
}

@media (max-width: 850px) {
    #Authorization {
        border: solid 1px green;
    }
}
