.Content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/

    border: solid 1px red;
}

.Content:not(:last-child) {
    /*margin-bottom: 30px;*/
}


#LogoSite {
    width: 100px;
}

#TitleSite {
    font-size: 70px;
    margin-left: 50px;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

#DescriptionSite {
    font-size: 25px;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

#Description {
    text-align: left;
    width: 50%;
    max-width: 450px;
    min-height: 500px;
    margin-left: 50px;

    border: solid 1px red;
}

.DescriptionElement {
    display: flex;
    flex-direction: column;
}

.DescriptionElement:not(:last-child) {
    margin-bottom: 30px;
}

.TitleDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.TitleDescription h1 {
    margin: 0;
    font-weight: normal;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

.DescriptionText {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.DescriptionText.active {
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.DescriptionElement p {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    width: 90%;
    color: #93959E;
}

.icon {
    font-size: 30px;
    transition: transform 0.5s ease;
}

.icon.rotated {
    transform: rotate(90deg);
}


#RegistrationBlock {
    width: 40%;
    height: 100%;
    min-height: 500px;
    margin-left: 50px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    flex-direction: column;

    border: solid 1px red;
}

#RegistrationBlock h2 {
    font-size: 36px;
    background: linear-gradient(to bottom, #ffffff, #444857);
    -webkit-background-clip: text;
    color: transparent;
}

.RegistrationButton {
    position: relative;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    width: 50%;
    height: 46px;
    border-radius: 25px;
    border: none;
    margin: 20px;
    padding: 0;
}

.RegistrationButton:hover {
    cursor: pointer;
}

.RegistrationBlock_logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: transparent;
    margin: 8px;
}

.Line {
    width: 40%;
    height: 1px;
    border: 0;
    background: linear-gradient(to right, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 50%, rgba(256, 256, 256, 1) 100%);
}


@media (min-width: 851px) and (max-width: 1200px) {
    #TitleSite {
        color: firebrick;
    }
}

@media (max-width: 850px) {
    #TitleSite {
        color: lightseagreen;
    }

    .ColumnContent {
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        justify-items: center;
        padding: 0;
    }

    .Content:not(:last-child) {
        /*margin-bottom: 30px;*/
    }


    #LogoSite {
        width: 70px;
    }

    #TitleSite {
        font-size: 50px;
        margin-left: 50px;
        background: linear-gradient(to bottom, #ffffff, #444857);
        -webkit-background-clip: text;
        color: transparent;
    }

    #DescriptionSite {
        font-size: 20px;
        background: linear-gradient(to bottom, #ffffff, #444857);
        -webkit-background-clip: text;
        color: transparent;
    }

    #Description {
        text-align: left;
        width: 90%;
        height: auto;
        margin: auto;
        max-width: none;
        min-height: 0;
    }

    .DescriptionElement {
        display: flex;
        flex-direction: column;
    }

    .DescriptionElement:not(:last-child) {
        margin-bottom: 30px;
    }

    .TitleDescription {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .TitleDescription h1 {
        font-size: 36px;
        margin: 0;
        font-weight: normal;
        background: linear-gradient(to bottom, #ffffff, #444857);
        -webkit-background-clip: text;
        color: transparent;
    }

    .DescriptionText {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
        opacity: 0;
    }

    .DescriptionText.active {
        max-height: 200px;
        opacity: 1;
        transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
    }

    .DescriptionElement p {
        font-size: 18px;
        font-weight: bolder;
        margin-top: 10px;
        width: 90%;
        color: #93959E;
    }

    .icon {
        font-size: 30px;
        transition: transform 0.5s ease;
    }

    .icon.rotated {
        transform: rotate(90deg);
    }


    #RegistrationBlock {
        width: 90%;
        height: auto;
        min-height: 0;
        margin: auto auto 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        flex-direction: column;

        border: solid 1px red;
    }

    #RegistrationBlock h2 {
        font-size: 36px;
        background: linear-gradient(to bottom, #ffffff, #444857);
        -webkit-background-clip: text;
        color: transparent;
    }

    .RegistrationButton {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        height: 46px;
        border-radius: 25px;
        border: none;
        margin: 20px;
        padding: 0;
    }

    .RegistrationButton:hover {
        cursor: pointer;
    }

    .RegistrationBlock_logo {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: transparent;
        margin: 8px;
    }

    .Line {
        width: 40%;
        height: 1px;
        border: 0;
        background: linear-gradient(to right, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 50%, rgba(256, 256, 256, 1) 100%);
    }
}
