#Content {
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#Description {
    text-align: left;
    width: 30%;

    /*border: solid 1px red;*/
}

.DescriptionElement {
    display: flex;
    flex-direction: column;
}

.DescriptionElement:not(:last-child) {
    margin-bottom: 30px;
}

.TitleDescription {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.TitleDescription h1 {
    margin: 0;
    font-weight: normal;
    background: linear-gradient(to bottom, #ffffff, #555555); /* Вертикальный градиент */
    -webkit-background-clip: text;
    color: transparent;
}

.DescriptionText {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.DescriptionText.active {
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.DescriptionElement p {
    font-size: 18px;
    font-weight: bolder;
    margin-top: 10px;
    width: 90%;
    color: #93959E;
}

.icon {
    font-size: 30px;
    transition: transform 0.5s ease;
}

.icon.rotated {
    transform: rotate(90deg);
}


#InteractionBlock {
    width: 40%;
    height: 40%;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;

    /*border: solid 1px red;*/
}

.InteractionElement {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}

#Button {
    position: relative;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-image: radial-gradient(circle, #ffffff, #606576) 1;
}

#Button button {
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% + 20px);
    width: calc(100% - 20px);
    /*height: 90%;*/
    /*width: 90%;*/
    background-color: transparent;
    border-top: solid 2px;
    border-bottom: solid 2px;
    border-image: radial-gradient(circle, #ffffff, #606576) 1;
    border-right: none;
    border-left: none;
    color: white;
    font-size: 28px;
    transition: 0.3s;
}

#Button button p {
    font-weight: bold;
    color: #E0E0E4;
}

#Button button:hover {
    /*height: 95%;*/
    /*width: 95%;*/
    height: calc(100% + 15px);
    width: calc(100% - 10px);
}

#Authorization {
    position: relative;
    width: 95%;
    height: 95%;
    box-sizing: border-box;
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /*border: solid 1px red;*/
}

#Authorization h1 {
    text-align: center;
    margin: -20px 0 10px;
    background: linear-gradient(to bottom, #ffffff, #444857); /* Вертикальный градиент */
    -webkit-background-clip: text;
    color: transparent;
}

#Authorization h2 {
    font-size: 20px;
    margin: 0;
    color: #E0E0E4;
}

#AuthTable {
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px;
    margin-bottom: 20px;
}

#AuthTable input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border-radius: 0;
    border: none;
    background-color: #E0E0E4;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.3); /* Внутренняя тень */
}

#AuthTable input:focus {
    outline: 1px solid #E0E0E4; /* Нестандартная обводка при фокусе */
}

#ButtonBack {
    height: 30px;
    width: 30px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    opacity: 20%;
    cursor: pointer;
    transition: 0.3s;

    /*border: solid 1px red;*/
}
#ButtonBack:hover {
    opacity: 50%;
}

