.button_dark {
    display: block;
    width: 90%;
    max-width: 700px;
    background-color: #111821;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0px rgba(22, 31, 43, 0.43);
    border: none;
    text-align: center;
}

.button_dark:hover {
    background-color: #161F2B;
}

.button_dark:focus {
    background-color: #1A2533;
    outline: none;
}