.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    width: 90%;
    margin: auto;

    /*border: solid 1px red;*/
}

/*@media (max-width: 800px) {*/
/*    .container-main {*/
/*        display: flex;*/
/*        flex-direction: column;*/
/*        align-items: center !important;*/
/*    }*/
/*}*/
/*@media (max-width: 850px) {*/
/*    .container-main {*/
/*        max-width: 95%;*/
/*        margin-left: 20px;*/
/*    }*/
/*}*/



.button_dark {
    display: block;
    width: 90%;
    max-width: 700px;
    background-color: #111821;
    color: white;
    padding: 12px;
    border-radius: 12px;
    margin: 8px;
    cursor: pointer;
    box-shadow: 0 5px 20px 0 rgba(22, 31, 43, 0.43);
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.button_dark:hover {
    background-color: #161F2B;
}

.button_dark:focus {
    background-color: #1A2533;
    outline: none;
}

.custom-toast {
    color: white;
    background-color: #333333;
}






.device-box {
    color: black;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    border-radius: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.device-flex {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.device-icon {
    display: flex;
    justify-content: center;
    color: #222222;
    width: 6%;
    min-width: 25px;
    margin: 0 15px 0 15px;
}

.device-icon h2 {
    margin: 0;
    font-size: 28px;
}

.device-info {
    width: 80%;
}

.device-title {
    font-weight: bold;
    font-size: 20px;
}

.device-description {
    margin-right: 15px;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.device-subtext {
    color: #222222;
    font-size: 14px;
}

.qr-code {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
}

.qr-code canvas {
    width: 100% !important;
    height: 100% !important;
    border-radius: 10px
}

@media (max-width: 550px) {
    .device-title {
        font-size: 18px;
    }

    .device-subtext {
        font-size: 12px;
    }
}

@media (max-width: 500px) {
    .flex-change {
        flex-direction: column;
    }

    .qr-code {
        width: 80%;
        height: 80%;
    }
}




