.page-block {
    display: block;
}

#header-site {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

#logo-site {
    width: 60px;
}

#title-site {
    font-weight: bold;
    font-size: 60px;
    margin: 0;
}

#description-site {
    font-size: 20px;
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

#description {
    text-align: left;
    width: 40%;
    max-width: 450px;
    margin-left: 40px;

    /*border: solid 1px red;*/
}

.description-element {
    display: flex;
    flex-direction: column;
}

.description-element:not(:last-child) {
    margin-bottom: 30px;
}

.description-element p {
    font-size: 16px;
    margin-top: 10px;
    width: 90%;
}

.title-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.title-description h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.description-text {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out, opacity 0.5s ease-out;
    opacity: 0;
}

.description-text.active {
    max-height: 200px;
    opacity: 1;
    transition: max-height 0.5s ease-in, opacity 0.5s ease-in;
}

.icon {
    font-size: 30px;
    transition: transform 0.5s ease;
}

.icon.rotated {
    transform: rotate(90deg);
}





#registration-block {
    width: 40%;
    height: 100%;
    min-height: 300px;
    margin-left: 50px;
    margin-right: 10px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    flex-direction: column;

    /*border: solid 1px red;*/
}

#registration-block h2 {
    margin: 0 0 20px;
    font-size: 24px;
}

#registration-block span {
    margin-right: 10px;
    margin-left: 10px;
    font-size: 20px;
}

.line {
    width: 40%;
    height: 1px;
    border: 0;
    background: linear-gradient(to right, rgba(256, 256, 256, 0) 0%, rgba(256, 256, 256, 1) 50%, rgba(256, 256, 256, 1) 100%);
}

@media (max-width: 850px) {
    .page-block {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #header-site {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #logo-site {
        width: 40px;
    }

    #title-site {
        font-size: 46px;
    }

    #description-site {
        font-size: 16px;
    }

    .content {
        flex-direction: column-reverse;
        align-items: center;
    }

    #description {
        width: 90%;
        margin-left: 0;
    }

    .description-element {
    }

    .description-element:not(:last-child) {
    }

    .description-element p {
        font-size: 14px;
    }

    .title-description {
    }

    .title-description h1 {
        font-size: 32px;
    }

    .description-text {
    }

    .description-text.active {
    }

    .icon {
    }

    .icon.rotated {
    }





    #registration-block {
        width: 95%;
        height: auto;
        min-height: 0;
        margin: 20px 0 50px;

    }

    #registration-block h2 {
        font-size: 24px;
    }

    #registration-block span {
        font-size: 20px;
    }

    .line {
    }
}
